/* Color palette
Are ya yellow?!: #feda6a
Silver Fox: #d4d4dc
Deep Matte Grey: #393f4d
Dark Slate: #1d1e22
*/

* {
    font-family: 'Verdana', 'Arial';
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #393f4d;
}

/* Title */
.title {
    background-color: #1d1e22;
    font-size: 50px;
    color: #feda6a;
    padding: 20px;
}

/* Text div */
.text {
    background-color: #393f4d;
    color: #d4d4dc;
    padding: 20px;
}

/* Score div */
.score {
    background-color: #393f4d;
    color: #d4d4dc;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 20px;
    font-size: 20px;
}

#player_sign,
#computer_sign {
    font-size: 100px;
}

/* Choice div */
.choice {
    background-color: #393f4d;
    color: #d4d4dc;
}

.buttons {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#stone,
#paper,
#scissors {
    font-size: 100px;
    transition-duration: 0.4s;
    background-color: #393f4d;
    border: 2px solid #1d1e22;
    border-radius: 10px;
    padding: 20px 30px;
}

#stone:hover,
#paper:hover,
#scissors:hover {
    background-color: #feda6a;
}

/* Footer */
.foot {
    font-size: 18px;
    background-color: #1d1e22;
    color: #d4d4dc;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Play again */
#play_again {
    background-color: #393f4d;
    color: #d4d4dc;
}

#play_again h1 {
    font-size: 50px;
    padding-bottom: 10px;
}

#play_again button {
    font-size: 30px;
    background-color: #d4d4dc;
    color: #1d1e22;
    transition-duration: 0.4s;
    border: 2px solid #1d1e22;
    border-radius: 10px;
    padding: 10px 30px;
}


#play_again button:hover{
    background-color: #feda6a;
}